* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optional: Adjust the height based on your needs */
}

.data {
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0 5px;
}
